#wrapper{display:grid;
         grid-template-areas: "nav nav"
                                "photo header"
                                "photo nestedgrid"
                                "photo nestedgrid"
                                "footer footer";
         background-color:rgb(255,243,237);}
        
#nav{grid-area:nav;
     background-color:rgb(255,225,214);}
img{width:60%;
    height:65%;
    margin-left:120px;
    margin-top: 122px;}

#photo{grid-area:photo;
       }

#header{grid-area:header;
        font-size:37px;
        margin-top:130px}

#nestedgrid{grid-area:nestedgrid;
             background-color:rgb(255,215,227);
            margin-right:180px;
             margin-bottom:150px}
p{font-size:18px;
  margin-left:30px;
  margin-top:15px;}

#footer{grid-area:footer;
        background-color:rgb(255,225,214);
        margin-top:10px;
        padding:15px}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: pink;}